{% extends 'pengguna/base.html' %}

{% block body %}


<br><br>



<form method="POST" action="{% url 'trigger6:RiwayatStatusBatchCreate' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="status"><strong>Status Update:</strong></label>
        <select class="form-control" id="status" name="status">
            <option value="">-</option>
            <option value="OTW">PRO to OTW</option>
            <option value="DLV">OTW to DLV</option>
            <option value="HLG">OTW to HLG</option>
            <option value="RET">OTW to RET</option>
        </select>
        <button type="submit" class="btn btn-dark" name="button" value="submit">Submit</button>
    </div>
</form>

{% if messages %}
{% for message in messages %}
<h4 style="color: red">{{ message }}</h4>
{% endfor %}
{% endif %}

{% endblock body %}