{% extends 'pengguna/base.html' %}

{% block body %}

<br><br>

<h2>Update data for:</h2>
<h4><b>Lokasi Warehose:</b> {{ check_warehouse }}</h4>
<h4><b>Kode Warehose:</b> {{ warehouse }}</h4>
<h4><b>Kode Item:</b> {{ item }}</h4>
<h4><b>Item:</b> {{ check_item }}></h4>

<form method="POST" action="{% url 'trigger6:WarehouseStockUpdate' warehouse=warehouse item=item%}">
    {% csrf_token %}
    <label for="jumlah"><strong>Jumlah:</strong></label>
    <input type="number" name="jumlah" value="0">

    <button type="submit" class="btn btn-dark" name="button" value="submit">Submit</button>
</form>

{% endblock body %}