{% extends 'pengguna/base.html' %}

{% block body %}


<br><br>

<form method="POST" action="{% url 'trigger6:WarehouseStockCreate' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="warehouse"><strong>Choose Warehouse:</strong></label>
        <select class="form-control" id="warehouse" name="warehouse">
            <option value="">-</option>
            {% for i in warehouse %}
            {% if check_warehouse %}
            {% if kode_warehouse == i %}
            <option value={{i}} selected>{{i}}</option>
            {% elif kode_warehouse != i %}
            <option value={{i}}>{{i}}</option>
            {% endif %}
            {% elif not check_warehouse %}
            <option value={{i}}>{{i}}</option>
            {% endif %}
            {% endfor %}
        </select>
        {% if check_item %}
        <h4>Lokasi Warehouse: {{ check_warehouse }}</h4>
        {% endif %}
        <label for="item"><strong>Choose Item:</strong></label>
        <select class="form-control" id="item" name="item">
            <option value="">-</option>
            {% for i in item %}
            {% if check_item %}
            {% if kode_item == i %}
            <option value={{i}} selected>{{i}}</option>
            {% elif kode_item != i %}
            <option value={{i}}>{{i}}</option>
            {% endif %}
            {% elif not check_item %}
            <option value={{i}}>{{i}}</option>
            {% endif %}
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-dark" name="button" value="check">Check</button><br>
        {% if check_item %}
        <h4>Item sumber daya: {{ check_item }}</h4>
        {% endif %}
        <label for="jumlah"><strong>Jumlah:</strong></label>
        <input type="number" name="jumlah" value="0">
        <button type="submit" class="btn btn-dark" name="button" value="submit">Create</button>
    </div>
</form>

{% if messages %}
{% for message in messages %}
<h4 style="color: red">{{ message }}</h4>
{% endfor %}
{% endif %}

{% endblock body %}