{% extends 'pengguna/base.html' %}

{% block body %}


<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<br><br>

{% if messages %}
{% for message in messages %}
<h4 style="color: red">{{ message }}</h4>
{% endfor %}
{% endif %}

{% for kode_warehouse, data in stock_data.items %}

<h2>Kode Warehouse: {{ kode_warehouse }}</h2>

<table>
    <tr>
        <th>Kode Item</th>
        <th>Jumlah</th>
        <th>Action</th>
    </tr>

    {% for kode_item, jumlah in data %}
    <tr>
        <td>{{ kode_item }}</td>
        <td>{{ jumlah }}</td>
        <td style="text-align:center;">
            <a href="{% url 'trigger6:WarehouseStockUpdate' warehouse=kode_warehouse item=kode_item %}">
                <button>Update</button>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

<br>
{% endfor %}

{% endblock body %}