{% extends 'pengguna/base.html' %}

{% block body %}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<br><br>

<h3>Nomor Transaksi: {{ no_transaksi }}</h3>

<table>
    <tr>
        <th>Kode Batch</th>
        <th>Kendaraan</th>
        <th>Petugas Distribusi</th>
        <th>Asal</th>
        <th>Tujuan</th>
    </tr>

    {% for i in data %}
    <tr>
        <td>{{ i.0 }}</td>
        <td>{{ i.1 }}</td>
        <td>{{ i.2 }}</td>
        <td>{{ i.3 }}</td>
        <td>{{ i.4 }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock body %}