{% extends 'pengguna/base.html' %}

{% load static %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}

<form method="POST" action="{% url 'pengiriman:add_batch' nomor_transaksi %}">

    <label for="input-admin">Username Petugas Satgas:</label>
    <input id="input-admin" name="admin" type="text" value="{{ request.session.username }}" readonly>

    <br>

    <label for="input-nomor">Nomor Transaksi Sumber Daya:</label>
    <input id="input-nomor" name="nomor" type="text" value="{{ nomor_transaksi }}" readonly>

    <br>

    <br><h3>Buat Batch Pengiriman</h3><br>

    <label for="input-kode">Kode Batch:</label>
    <input id="input-kode" type="text" name="kode" value="{{ kode_batch }}" readonly>

    <br>

    <p id="form-kendaraan">Kendaraan: Belum Dipilih</p>
    <input id="input-kendaraan" name="kendaraan" type="hidden" value="none">
    <button type="button" data-toggle="modal" data-target=".pilih-kendaraan-modal">Pilih Kendaraan</button>

    <p id="form-petugas-distribusi">Petugas Distribusi: Belum Dipilih</p>
    <input id="input-petugas-distribusi" name="petugas" type="hidden" value="none">
    <button type="button" data-toggle="modal" data-target=".pilih-petugas-distribusi-modal">Pilih Petugas Distribusi</button>

    {% csrf_token %}
    <input type="submit" value="Tambah">
</form>

<div id="pilih-kendaraan-modal" class="modal fade pilih-kendaraan-modal" tabindex="-1" role="dialog" aria-labelledby="pilihKendaraanLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pilihKendaraanLabel">Pilih Kendaraan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <th>Nomor Kendaraan</th>
                        <th>Nama Kendaraan</th>
                        <th>Jenis Kendaraan</th>
                        <th>Berat Maksimum (kg)</th>
                        <th>Action</th>
                    </tr>

                    {% for kendaraan in kendaraans %}

                    <tr>
                        <td>{{ kendaraan.0 }}</td>
                        <td>{{ kendaraan.1 }}</td>
                        <td>{{ kendaraan.2 }}</td>
                        <td>{{ kendaraan.3 }}</td>
                        <td>
                            <button class="pilih-kendaraan" type="button" value="{{ kendaraan.0 }}">Pilih</button>
                        </td>
                    </tr>

                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

<div id="pilih-petugas-distribusi-modal" class="modal fade pilih-petugas-distribusi-modal" tabindex="-2" role="dialog" aria-labelledby="pilihPetugasDistribusiLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pilihPetugasDistribusiLabel">Pilih Petugas Distribusi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <th>Nama</th>
                        <th>Nomor SIM</th>
                        <th>Action</th>
                    </tr>

                    {% for distributor in distributors %}

                    <tr>
                        <td>{{ distributor.1 }}</td>
                        <td>{{ distributor.2 }}</td>
                        <td>
                            <button class="pilih-petugas-distribusi" type="button" value="{{ distributor.0 }}">Pilih</button>
                        </td>
                    </tr>

                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

<table>
    <tr>
        <th>Kode Batch</th>
        <th>Kendaraan</th>
        <th>Petugas Distribusi</th>
        <th>Asal</th>
        <th>Tujuan</th>
    </tr>

    {% for pengiriman in pengirimans %}

    <tr>
        <td>{{ pengiriman.0 }}</td>
        <td>{{ pengiriman.1 }}</td>
        <td>{{ pengiriman.2 }}</td>
        <td>{{ pengiriman.3 }}</td>
        <td>{{ pengiriman.4 }}</td>
    </tr>

    {% endfor %}

</table>

{% endblock body %}

{% block script %}
<script src="{% static 'pengiriman/script.js' %}"></script>
{% endblock script %}