{% extends 'pengguna/base.html' %}

{% block body %}

<table>
  <tr>
    <th>No. Transaksi</th>
    <th>Petugas Faskes</th>
    <th>Faskes</th>
    <th>Total Berat (kg)</th>
    <th>Status Permohonan</th>
    <th>Status Batch</th>
    <th>Action</th>
  </tr>

  {% for permohonan in permohonans %}

  <tr>
    <td>{{ permohonan.0 }}</td>
    <td>{{ permohonan.1 }}</td>
    <td>{{ permohonan.2 }}</td>
    <td>{{ permohonan.3 }}</td>
    <td>{{ permohonan.4 }}</td>
    <td>{{ permohonan.5 }}</td>
    <td>

      {% if role == "admin" %}
      {% if permohonan.5 == "PRO" or not permohonan.5 %}
      <form action="{% url 'pengiriman:add_batch' permohonan.0 %}">
        <input type="submit" value="Buat Batch" />
      </form>
      {% endif %}
      {% endif %}

      {% if permohonan.4 == "FIN" or permohonan.4 == "MAS" %}
      {% if permohonan.5 == "DLV" or permohonan.5 == "OTW" or permohonan.5 == "HLG" or permohonan.5 == "RET" %}
      <form action="{% url 'pengiriman:detail_batch' permohonan.0 %}">
        <input type="submit" value="Detail" />
      </form>
      {% endif %}
      {% endif %}

      {% if role == "admin" %}
      {% if permohonan.5 == "PRO" or permohonan.5 == "OTW" %}
        <a href="{% url 'trigger6:RiwayatStatusBatchCreate' %}"><button>Ubah Status</button></a>
      {% endif %}
      {% endif %}

      {% if role == "admin" or role == "distribusi" %}
      {% if permohonan.5 %}
        <a href="{% url 'trigger6:RiwayatStatusBatchRead' %}"><button>Riwayat Status</button></a>
      {% endif %}
      {% endif %}

    </td>
  </tr>

  {% endfor %}
</table>

{% endblock body %}