{% extends 'pengguna/base.html' %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}

<h3>Update Kendaraan {{ kendaraan.0 }}</h3>
<form method="POST" action="{% url 'pengiriman:update_kendaraan' kendaraan.0 %}">
    {% csrf_token %}
    
    <input type="text" name="nomor" placeholder="Nomor" value="{{ kendaraan.0 }}" required>
    <input type="text" name="nama" placeholder="Nama" value="{{ kendaraan.1 }}" required>
    <input type="text" name="jenis" placeholder="Jenis Kendaraan" value="{{ kendaraan.2 }}" required>
    <input type="number" name="berat" placeholder="Berat Maksimum" value="{{ kendaraan.3 }}" required>
    <button type="submit">Simpan</button>
</form>

{% endblock body %}