{% extends 'pengguna/base.html' %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}

<form method="POST" action="{% url 'pengiriman:add_kendaraan' %}">
    {% csrf_token %}
    
    <input type="text" name="nomor" placeholder="Nomor" required>
    <input type="text" name="nama" placeholder="Nama" required>
    <input type="text" name="jenis" placeholder="Jenis Kendaraan" required>
    <input type="number" name="berat" placeholder="Berat Maksimum" required>
    <button type="submit">Simpan</button>
</form>

{% endblock body %}