{% extends 'pengguna/base.html' %}

{% block body %}

{% if request.session.role == 'admin' %}

<a href="{% url 'pengiriman:add_kendaraan' %}">Tambah kendaraan</a>
<table>
    <tr>
        <th>Nomor Kendaraan</th>
        <th>Nama Kendaraan</th>
        <th>Jenis Kendaraan</th>
        <th>Berat Maksimum (kg)</th>
        <th>Action</th>
    </tr>

    {% for kendaraan in kendaraans %}

    <tr>
        <td>{{ kendaraan.0 }}</td>
        <td>{{ kendaraan.1 }}</td>
        <td>{{ kendaraan.2 }}</td>
        <td>{{ kendaraan.3 }}</td>
        <td>
            <form action="{% url 'pengiriman:update_kendaraan' kendaraan.0 %}">
                <input type="submit" value="Update">
            </form>
            <form action="{% url 'pengiriman:delete_kendaraan' kendaraan.0 %}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>

    {% endfor %}
</table>

{% elif request.session.role == 'distribusi' %}

<table>
    <tr>
        <th>Nomor Kendaraan</th>
        <th>Nama Kendaraan</th>
        <th>Jenis Kendaraan</th>
        <th>Berat Maksimum (kg)</th>
    </tr>

    {% for kendaraan in kendaraans %}

    <tr>
        <td>{{ kendaraan.0 }}</td>
        <td>{{ kendaraan.1 }}</td>
        <td>{{ kendaraan.2 }}</td>
        <td>{{ kendaraan.3 }}</td>
    </tr>

    {% endfor %}

</table>

{% else %}

<p>Role yang bisa mengakses hanya admin dan petugas distribusi</p>

{% endif %}

{% endblock body %}