{% extends 'pengguna/base.html' %}

{% block body %}

<a href="{% url 'pengiriman:add_lokasi' %}">Tambah lokasi</a>
<table>
    <tr>
        <th>ID Lokasi</th>
        <th>Provinsi</th>
        <th>Kabupaten/Kota</th>
        <th>Kecamatan</th>
        <th>Kelurahan</th>
        <th>Jalan</th>
        <th>Action</th>
    </tr>

    {% for lokasi in lokasis %}

    <tr>
        <td>{{ lokasi.0 }}</td>
        <td>{{ lokasi.1 }}</td>
        <td>{{ lokasi.2 }}</td>
        <td>{{ lokasi.3 }}</td>
        <td>{{ lokasi.4 }}</td>
        <td>{{ lokasi.5 }}</td>
        <td>
            <form action="{% url 'pengiriman:update_lokasi' lokasi.0 %}">
                <input type="submit" value="Update">
            </form>
        </td>
    </tr>

    {% endfor %}
</table>

{% endblock body %}