{% extends 'pengguna/base.html' %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}

<h3>Update Lokasi {{ lokasi.0 }}</h3>
<form method="POST" action="{% url 'pengiriman:update_lokasi' lokasi.0 %}">
    {% csrf_token %}
    
    <select name="provinsi">
        <option value="Aceh" {% if lokasi.1 == "Aceh" %} selected {% endif %}>Aceh</option>
        <option value="Bali" {% if lokasi.1 == "Bali" %} selected {% endif %}>Bali</option>
        <option value="Banten" {% if lokasi.1 == "Banten" %} selected {% endif %}>Banten</option>
        <option value="Bengkulu" {% if lokasi.1 == "Bengkulu" %} selected {% endif %}>Bengkulu</option>
        <option value="Daerah Istimewa Yogyakarta" {% if lokasi.1 == "Daerah Istimewa Yogyakarta" %} selected {% endif %}>Daerah Istimewa Yogyakarta</option>
        <option value="DKI Jakarta" {% if lokasi.1 == "DKI Jakarta" %} selected {% endif %}>DKI Jakarta</option>
        <option value="Gorontalo" {% if lokasi.1 == "Gorontalo" %} selected {% endif %}>Gorontalo</option>
        <option value="Jambi" {% if lokasi.1 == "Jambi" %} selected {% endif %}>Jambi</option>
        <option value="Jawa Barat" {% if lokasi.1 == "Jawa Barat" %} selected {% endif %}>Jawa Barat</option>
        <option value="Jawa Tengah" {% if lokasi.1 == "Jawa Tengah" %} selected {% endif %}>Jawa Tengah</option>
        <option value="Jawa Timur" {% if lokasi.1 == "Jawa Timur" %} selected {% endif %}>Jawa Timur</option>
        <option value="Kalimantan Barat" {% if lokasi.1 == "Kalimantan Barat" %} selected {% endif %}>Kalimantan Barat</option>
        <option value="Kalimantan Selatan" {% if lokasi.1 == "Kalimantan Selatan" %} selected {% endif %}>Kalimantan Selatan</option>
        <option value="Kalimantan Tengah" {% if lokasi.1 == "Kalimantan Tengah" %} selected {% endif %}>Kalimantan Tengah</option>
        <option value="Kalimantan Timur" {% if lokasi.1 == "Kalimantan Timur" %} selected {% endif %}>Kalimantan Timur</option>
        <option value="Kalimantan Utara" {% if lokasi.1 == "Kalimantan Utara" %} selected {% endif %}>Kalimantan Utara</option>
        <option value="Kepulauan Bangka Belitung" {% if lokasi.1 == "Kepulauan Bangka Belitung" %} selected {% endif %}>Kepulauan Bangka Belitung</option>
        <option value="Kepulauan Riau" {% if lokasi.1 == "Kepulauan Riau" %} selected {% endif %}>Kepulauan Riau</option>
        <option value="Lampung" {% if lokasi.1 == "Lampung" %} selected {% endif %}>Lampung</option>
        <option value="Maluku" {% if lokasi.1 == "Maluku" %} selected {% endif %}>Maluku</option>
        <option value="Maluku Utara" {% if lokasi.1 == "Maluku Utara" %} selected {% endif %}>Maluku Utara</option>
        <option value="Nusa Tenggara Barat" {% if lokasi.1 == "Nusa Tenggara Barat" %} selected {% endif %}>Nusa Tenggara Barat</option>
        <option value="Nusa Tenggara Timur" {% if lokasi.1 == "Nusa Tenggara Timur" %} selected {% endif %}>Nusa Tenggara Timur</option>
        <option value="Papua" {% if lokasi.1 == "Papua" %} selected {% endif %}>Papua</option>
        <option value="Papua Barat" {% if lokasi.1 == "Papua Barat" %} selected {% endif %}>Papua Barat</option>
        <option value="Riau" {% if lokasi.1 == "Riau" %} selected {% endif %}>Riau</option>
        <option value="Sulawesi Barat" {% if lokasi.1 == "Sulawesi Barat" %} selected {% endif %}>Sulawesi Barat</option>
        <option value="Sulawesi Selatan" {% if lokasi.1 == "Sulawesi Selatan" %} selected {% endif %}>Sulawesi Selatan</option>
        <option value="Sulawesi Tengah" {% if lokasi.1 == "Sulawesi Tengah" %} selected {% endif %}>Sulawesi Tengah</option>
        <option value="Sulawesi Tenggara" {% if lokasi.1 == "Sulawesi Tenggara" %} selected {% endif %}>Sulawesi Tenggara</option>
        <option value="Sulawesi Utara" {% if lokasi.1 == "Sulawesi Utara" %} selected {% endif %}>Sulawesi Utara</option>
        <option value="Sumatera Barat" {% if lokasi.1 == "Sumatera Barat" %} selected {% endif %}>Sumatra Barat</option>
        <option value="Sumatera Selatan" {% if lokasi.1 == "Sumatera Selatan" %} selected {% endif %}>Sumatra Selatan</option>
        <option value="Sumatera Utara" {% if lokasi.1 == "Sumatera Utara" %} selected {% endif %}>Sumatra Utara</option>
    </select>
    <input type="text" name="kabkot" placeholder="Kabupaten/Kota" value="{{ lokasi.2 }}" required>
    <input type="text" name="kecamatan" placeholder="Kecamatan" value="{{ lokasi.3 }}" required>
    <input type="text" name="kelurahan" placeholder="Kelurahan" value="{{ lokasi.4 }}" required>
    <input type="text" name="jalan" placeholder="Jalan" value="{{ lokasi.5 }}" required>
    <button type="submit">Simpan</button>
</form>

{% endblock body %}