{% extends 'pengguna/base.html' %}

{% block body %}
<div class="container-xl">
    <h1 style="text-align: center;">LIST PESANAN SUMBER DAYA</h1>
    <form action="{% url 'trigger3:SupplierReadPesanan' %}" method="POST">
        {% csrf_token %}
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">No Transaksi</th>
                <th scope="col">Petugas Satgas</th>
                <th scope="col">Tanggal</th>
                <th scope="col">Total Berat</th>
                <th scope="col">Total Item</th>
                <th scope="col">Total Harga</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for i in result %}
                <tr>
                  <th scope="row">{{i.0}}</th>
                  <td>{{i.1}}</td>
                  <td>{{i.2}}</td>
                  <td>{{i.3}}</td>
                  <td>{{i.4}}</td>
                  <td>{{i.5}}</td>
                  <td>{{i.6}}</td>
                  <td style="text-align: center;">
                    <a class="btn btn-primary" href="{% url 'trigger3:DetailPesananSupplier' i.0 %}">Detail</a><br>
                    <a style="margin-top: 4px;" class="btn btn-primary" href="{% url 'trigger3:RiwayatStatusSupplier' i.0 %}">Riwayat Status</a><br>
                    {% if i.6 == 'REQ-SUP' %} 
                        <button style="margin-top: 4px;" class="btn btn-danger" type="submit" name="tombol" value="reject {{i.0}}">Reject</button><br>
                        <button style="margin-top: 4px;" class="btn btn-primary" type="submit" name="tombol" value="proses {{i.0}}">Process</button><br>
                    {% elif i.6 == 'PRO-SUP' %}
                        <button style="margin-top: 4px;" class="btn btn-primary" type="submit" name="tombol" value="selesai {{i.0}}">Selesai</button><br>
                        <button style="margin-top: 4px;" class="btn btn-primary" type="submit" name="tombol" value="masalah {{i.0}}">Selesai Dengan Masalah</button><br>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>
{% endblock body %}