{% extends 'pengguna/base.html' %}

{% block body %}

{% if request.session.username %}
<div class="container-xl">
    <h1>{{ request.session.username }}</h1>
    <p><strong>Role:</strong> {{ request.session.role }}</p>
    {% for i in data %} 
        <p><strong>Nama Lengkap: </strong> {{i.2}}</p>
        <p><strong>Kelurahan: </strong>{{i.3}}</p>
        <p><strong>Kecamatan: </strong>{{i.4}}</p>
        <p><strong>Kabupaten: </strong>{{i.5}}</p>
        <p><strong>Provinsi: </strong>{{i.6}}</p>
        <p><strong>No Telepon: </strong>{{i.7}}</p>
        {% if request.session.role == "supplier" %}
        <p><strong>Nama Organisasi: </strong> {{dataTambahan.0.0}}</p>
        {% elif request.session.role == "distribusi" %}
        <p><strong>No SIM: </strong> {{dataTambahan.0.0}}</p>
        {% endif %}
    {% endfor %}
    <a class="btn btn-dark" href="{% url 'pengguna:UpdateProfile' %}">Edit Profile</a>
    {% else %}
    <h1>Kayanya bagusan diisi homepage(landing)***</h1>
</div>
{% endif %}
{% endblock body %}