{% extends 'pengguna/base.html' %}

{% block body %}

<div class="container-xl" style="text-align: center;">
    <h1 style="text-align: center;">SIDIA E05</h1>
    <p>Aryaputra Athallah</p>
    <p>Naufal Sani</p>
    <p>Kevin Dharmawan</p> 
    <p>William</p>
</div>
{% endblock body %}