{% extends 'pengguna/base.html' %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}
<div class="container-sm">
    <h2 style="text-align: center;">Login</h2>
    <form method="POST" action="{% url 'pengguna:login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label><strong>Username</strong></label>
            <input class="form-control" type="text" name="username" placeholder="Username" required>
            <label><strong>Password</strong></label>
            <input class="form-control" type="password" name="password" placeholder="Password" required>
        </div>
        <button class="btn btn-primary " type="submit">Login</button>
    </form>
</div>

{% endblock body %}