{% extends 'pengguna/base.html' %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}
<div class="container-sm" >
    <h2 style="text-align: center;">Register Admin Satgas</h2>
    <form method="POST" action="{% url 'pengguna:registerAdminSatgas' %}">
        {% csrf_token %}
        <div class="form-group">
            <label style="text-align: left;"><strong>Username</strong></label>
            <input class="form-control" type="text" name="username" placeholder="Username" required>
            <label style="text-align: left;"><strong>Password</strong></label>
            <input class="form-control" type="password" name="password" placeholder="Password" required>
            <label style="text-align: left;"><strong>Nama Lengkap</strong></label>
            <input class="form-control" type="text" name="nama" placeholder="Ex: Aryaputra" required>
            <label style="text-align: left;"><strong>Kelurahan</strong></label>
            <input class="form-control" type="text" name="alamat_kel" placeholder="Ex: Cileungsi" required>
            <label style="text-align: left;"><strong>Kecamatan</strong></label>
            <input class="form-control" type="text" name="alamat_kec" placeholder="Ex: Kec. Sukaraja" required>
            <label style="text-align: left;"><strong>Kabupaten</strong></label>
            <input class="form-control" type="text" name="alamat_kabkot" placeholder="Ex: Kab. Bogor" required>
            <label style="text-align: left;"><strong>Provinsi</strong></label>
            <input class="form-control" type="text" name="alamat_prov" placeholder="Ex : Prov.Jawa Barat" required>
            <label style="text-align: left;"><strong>Nomor Telepon</strong></label>
            <input class="form-control" type="text" name="no_telepon" placeholder="Ex : 0818...." required>
        </div>
        <button type="submit" class="btn btn-primary ">Daftar</button>
</div>
</form>

{% endblock body %}