{% extends 'pengguna/base.html' %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}
<div class="container-sm">
    <h2 style="text-align: center;">Register Petugas Faskes</h2>
    <form method="POST" action="{% url 'pengguna:registerPetugasFaskes' %}">
        {% csrf_token %}
        <div class="form-group">
            <label><strong>Username</strong></label>
            <input class="form-control" type="text" name="username" placeholder="Username" required>
            <label><strong>Password</strong></label>
            <input class="form-control" type="password" name="password" placeholder="Password" required>
            <label><strong>Nama Lengkap</strong></label>
            <input class="form-control" type="text" name="nama" placeholder="Ex: Aryaputra" required>
            <label><strong>Kelurahan</strong></label>
            <input class="form-control" type="text" name="alamat_kel" placeholder="Ex: Kel.Sukaraja" required>
            <label><strong>Kecamatan</strong></label>
            <input class="form-control" type="text" name="alamat_kec" placeholder="Ex: Kec.Sukamakmur" required>
            <label><strong>Kabupaten</strong></label>
            <input class="form-control" type="text" name="alamat_kabkot" placeholder="Ex: Kab. Bogor" required>
            <label><strong>Provinsi</strong></label>
            <input class="form-control" type="text" name="alamat_prov" placeholder="Ex: Prov. Jawa Barat" required>
            <label><strong>Nomor Telepon</strong></label>
            <input class="form-control" type="text" name="no_telepon" placeholder="Ex: 0818...." required>
        </div>    
        <button class="btn btn-primary " type="submit">Daftar</button>
    </form>

</div>

{% endblock body %}