{% extends 'pengguna/base.html' %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}
<div class="container-sm">
    <h2 style="text-align: center;">Register Petugas Distribusi</h2>
    <form method="POST" action="{% url 'pengguna:registerPetugasDistribusi' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for=""><strong>Username</strong></label>
            <input class="form-control" type="text" name="username" placeholder="Username" required>
            <label for=""><strong>Password</strong></label>
            <input class="form-control" type="password" name="password" placeholder="Password" required>
            <label for=""><strong>Nama Lengkap</strong></label>
            <input class="form-control" type="text" name="nama" placeholder="Ex: Aryaputra" required>
            <label for=""><strong>Kelurahan</strong></label>
            <input class="form-control" type="text" name="alamat_kel" placeholder="Ex: Kel.Cileungsi" required>
            <label for=""><strong>Kecamatan</strong></label>
            <input class="form-control" type="text" name="alamat_kec" placeholder="Ex: Kec.Sukaraja" required>
            <label for=""><strong>Kabupaten</strong></label>
            <input class="form-control" type="text" name="alamat_kabkot" placeholder="Ex: Kab.Bogor" required>
            <label for=""><strong>Provinsi</strong></label>
            <input class="form-control" type="text" name="alamat_prov" placeholder="Ex: Prov.Jawa Barat" required>
            <label for=""><strong>Nomor Telepon</strong></label>
            <input class="form-control" type="text" name="no_telepon" placeholder="Ex: 0818..." required>
            <label for=""><strong>Nomor SIM</strong></label>
            <input class="form-control" type="text" name="no_sim" placeholder="Ex: 1718..." required>
        </div>
        <button type="submit" class="btn btn-primary ">Daftar</button>
    </form>
</div>

{% endblock body %}