{% extends 'pengguna/base.html' %}

{% block body %}
{% if request.session.username %}
<div class="container">
    <h1>Update Profile</h1>
    <form method="POST" action="{% url 'pengguna:UpdateProfile' %}" style="margin-top: 30px;">
        {% csrf_token %}
        {% for i in data %}
        <div class="form-group">
            <label><strong>Username</strong></label>
            <input class="form-control" type="text" name="username" value="{{i.0}}" readonly>
            <label><strong>Password</strong></label>
            <input class="form-control" type="password" name="password" value="{{i.1}}">
            <label><strong>Nama</strong></label>
            <input class="form-control" type="text" name="nama" value="{{i.2}}">
            <label><strong>Kelurahan</strong></label>
            <input class="form-control" type="text" name="kelurahan" value="{{i.3}}">
            <label><strong>Kecamatan</strong></label>
            <input class="form-control" type="text" name="kecamatan" value="{{i.4}}">
            <label><strong>Kabupaten</strong></label>
            <input class="form-control" type="text" name="kabupaten" value="{{i.5}}">
            <label><strong>Provinsi</strong></label>
            <input class="form-control" type="text" name="provinsi" value="{{i.6}}">
            <label><strong>No Telepon</strong></label>
            <input class="form-control" type="text" name="notelp" value="{{i.7}}">
            {% if role == "supplier" %}
            <label><strong>Nama Organisasi</strong></label>
            <input class="form-control" type="text" name="namaOrganisasi" value="{{dataTambahan.0.0}}">
            {% elif role == "distribusi" %}
            <label><strong>No SIM</strong></label>
            <input class="form-control" type="text" name="NoSIM" value="{{dataTambahan.0.0}}">
            {% endif %}
        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit"> Update </button>
        <a class="btn btn-danger" href="/landing">Batal</a>
    </form>
</div>
{% endif %}

{% endblock body %}

