{% extends 'pengguna/base.html' %}

{% block body %}

{% if request.session.username %}

<p>Rolemu adalah {{ request.session.role }}</p>
<p>Maaf rolemu tidak diperbolehkan untuk membuka laman tersebut</p>

{% else %}

<p>Anda belum login</p>

{% endif %}

<a href="{% url 'pengguna:index' %}">Kembali ke halaman utama</a>

{% endblock body %}