{% extends 'pengguna/base.html' %}

{% block body %}


<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<br><br>

{% if messages %}
{% for message in messages %}
<h4 style="color: red">{{ message }}</h4>
{% endfor %}
{% endif %}

{% for no_transaksi, data in riwayat_data.items %}

<h2>No Transaksi: {{ no_transaksi }}</h2>

<table>
    <tr>
        <th>No</th>
        <th>Kode Status</th>
        <th>Status</th>
        <th>Username Admin Satgas</th>
        <th>Tanggal Persetujuan</th>
    </tr>

    {% for i in data %}
    <tr>
        {% for j in i %}
        <td>{{ j }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<br>
{% endfor %}

{% if messages %}
{% for message in messages %}
<h4 style="color: red">{{ message }}</h4>
{% endfor %}
{% endif %}

{% endblock body %}