{% extends 'pengguna/base.html' %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == "success" %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

<h2>Form Tambah Fasilitas Kesehatan</h2>

<form class="needs-validation" method="POST" action="{% url 'faskes:addfaskes' %}" novalidate>
    {% csrf_token %}
    <div class="form-group">
        <label for="kode_faskes">Kode Faskes:</label>
        <input class="form-control" type="text" id="kode_faskes" name="kode_faskes" required>
        <div class="invalid-feedback">
            Data Kode Faskes belum terisi
        </div>
    </div>
    
    <div class="form-group">
        <label for="id_lokasi">Id Lokasi:</label>
        <select class="form-control" name="id_lokasi" id="id_lokasi" onchange=changelokasiaddress() required>
            <option value="" selected>Id Lokasi</option>
            {% for lokasi in lokasis %}
                <option value="{{ lokasi.0 }}">{{ lokasi.0 }}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">
            Data Id Lokasi belum terisi
        </div>
    </div>

    <div class="form-group">
        <label for="lokasiaddress">Lokasi</label>
        <input class="form-control" type="text" id="lokasiaddress" disabled>
    </div>

    <div class="form-group">
        <label for="username_petugas">Petugas Faskes:</label>
        <select class="form-control" name="username_petugas" id="username_petugas" required>
            <option value="" selected>Petugas faskes</option>
            {% for petugas_faskes in petugas_faskeses %}
                <option value="{{ petugas_faskes.0 }}">{{ petugas_faskes.1 }}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">
            Data Petugas Faskes belum terisi
        </div>
    </div>

    <div class="form-group">
        <label for="kode_tipe_faskes">Kode Tipe Faskes:</label>
        <select class="form-control" name="kode_tipe_faskes" id="kode_tipe_faskes" onchange=changetipefaskes() required>
            <option value="" selected>Kode Tipe Faskes</option>
            {% for tipe_faskes in tipe_faskeses %}
                <option value="{{ tipe_faskes.0 }}">{{ tipe_faskes.0 }}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">
            Data Kode Tipe Faskes belum terisi
        </div>
    </div>

    <div class="form-group">
        <label for="tipefaskesname">Tipe Faskes:</label>
        <input class="form-control" type="text" id="tipefaskesname" disabled>
    </div>

    <input class="btn btn-primary" type="submit" value="Simpan">
    <a class="btn btn-danger" href="{% url 'faskes:index' %}">batal</a>
</form>

<script>

var lokasiaddrs = {};
{% for lokasi in lokasis %}
lokasiaddrs["{{ lokasi.0 }}"] = "{{ lokasi.1 }}";
{% endfor %}

var tipefaskes = {};
{% for tipe_faskes in tipe_faskeses %}
tipefaskes["{{ tipe_faskes.0 }}"] = "{{ tipe_faskes.1 }}";
{% endfor %}

function changelokasiaddress() {
    formtext = document.getElementById("lokasiaddress");
    formtext.value = "";
    formselect = document.getElementById("id_lokasi");
    formval = formselect.value;
    formtext.value = lokasiaddrs[formval];
}

function changetipefaskes() {
    formtext = document.getElementById("tipefaskesname");
    formtext.value = "";
    formselect = document.getElementById("kode_tipe_faskes");
    formval = formselect.value;
    formtext.value = tipefaskes[formval];
}

(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

</script>

{% endblock body %}