{% extends 'pengguna/base.html' %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == "success" %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

<h2>Fasilitas Kesehatan</h2>

{% if request.session.role == 'admin' %}

<a class="btn btn-primary mb-2" href="{% url 'faskes:addfaskes' %}">Tambah Faskes</a>
<table class="table table-bordered table-hover">
    <tr>
        <th scope="col">Kode Faskes</th>
        <th scope="col">Lokasi</th>
        <th scope="col">Petugas Faskes</th>
        <th scope="col">Tipe Faskes</th>
        <th scope="col">Action</th>
    </tr>

    {% for faskes in faskeses %}

    <tr>
        <td>{{ faskes.0 }}</td>
        <td>{{ faskes.1 }}</td>
        <td>{{ faskes.2 }}</td>
        <td>{{ faskes.3 }}</td>
        <td>
            <a class="btn btn-primary" href="{% url 'faskes:updatefaskes'%}?kode_faskes={{faskes.0}}">Update</a>
            <form method="POST" action="{% url 'faskes:deletefaskes' %}">
                {% csrf_token %}
                <input name="kode_faskes" value="{{faskes.0}}" hidden>
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
        </td>
    </tr>

    {% endfor %}
</table>

{% elif request.session.role == 'supplier' %}

<table class="table table-bordered table-hover">
    <tr>
        <th scope="col">Kode Faskes</th>
        <th scope="col">Lokasi</th>
        <th scope="col">Petugas Faskes</th>
        <th scope="col">Tipe Faskes</th>
    </tr>

    {% for faskes in faskeses %}

    <tr>
        <td>{{ faskes.0 }}</td>
        <td>{{ faskes.1 }}</td>
        <td>{{ faskes.2 }}</td>
        <td>{{ faskes.3 }}</td>
    </tr>

    {% endfor %}
</table>

{% else %}

<p>Role yang bisa mengakses hanya admin dan supplier</p>

{% endif %}

{% endblock body %}