{% extends 'pengguna/base.html' %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == "success" %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

<h2>Form Update Fasilitas Kesehatan</h2>

<form method="POST" action="{% url 'faskes:updatefaskes' %}">
    {% csrf_token %}

    <input type="text" name="kode_faskes" value="{{ current.0 }}" hidden>
    
    <div class="form-group">
        <label for="id_lokasi">Id Lokasi:</label>
        <select class="form-control" name="id_lokasi" id="id_lokasi" onchange=changelokasiaddress() required>
            <option value="{{ current.1 }}" selected>{{ current.1 }}</option>
            {% for lokasi in lokasis %}
                {% if lokasi.0 != current.1 %}
                    <option value="{{ lokasi.0 }}">{{ lokasi.0 }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="lokasiaddress">Lokasi</label>
        <input class="form-control" type="text" id="lokasiaddress" disabled>
    </div>

    <div class="form-group">
        <label for="username_petugas">Petugas Faskes:</label>
        <select class="form-control" name="username_petugas" id="username_petugas" required>
            <option value="{{ current.2 }}" selected>{{ current.3 }}</option>
            {% for petugas_faskes in petugas_faskeses %}
                <option value="{{ petugas_faskes.0 }}">{{ petugas_faskes.1 }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="kode_tipe_faskes">Kode Tipe Faskes:</label>
        <select class="form-control" name="kode_tipe_faskes" id="kode_tipe_faskes" onchange=changetipefaskes() required>
            <option value="{{ current.4 }}" selected>{{ current.4 }}</option>
            {% for tipe_faskes in tipe_faskeses %}
                {% if tipe_faskes.0 != current.4 %}
                    <option value="{{ tipe_faskes.0 }}">{{ tipe_faskes.0 }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="tipefaskesname">Tipe Faskes:</label>
        <input class="form-control" type="text" id="tipefaskesname" disabled>
    </div>

    <input class="btn btn-primary" type="submit" value="Simpan">
    <a class="btn btn-danger" href="{% url 'faskes:index' %}">batal</a>
</form>

<script>

var lokasiaddrs = {};
{% for lokasi in lokasis %}
lokasiaddrs["{{ lokasi.0 }}"] = "{{ lokasi.1 }}";
{% endfor %}

var tipefaskes = {};
{% for tipe_faskes in tipe_faskeses %}
tipefaskes["{{ tipe_faskes.0 }}"] = "{{ tipe_faskes.1 }}";
{% endfor %}

function changelokasiaddress() {
    formtext = document.getElementById("lokasiaddress");
    formtext.value = "";
    formselect = document.getElementById("id_lokasi");
    formval = formselect.value;
    formtext.value = lokasiaddrs[formval];
}

function changetipefaskes() {
    formtext = document.getElementById("tipefaskesname");
    formtext.value = "";
    formselect = document.getElementById("kode_tipe_faskes");
    formval = formselect.value;
    formtext.value = tipefaskes[formval];
}

document.addEventListener("DOMContentLoaded", function(event) { 
    changelokasiaddress();
    changetipefaskes();
});

</script>

{% endblock body %}