{% extends 'pengguna/base.html' %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == "success" %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

<h2>Form Tambah Warehouse Satgas</h2>

<form class="needs-validation" method="POST" action="{% url 'warehouse:addwarehousesatgas' %}" novalidate>
    {% csrf_token %}

    <div class="form-group">
        <label for="provinsi">Provinsi:</label>
        <select class="form-control" name="provinsi" id="provinsi" onchange=changelokasioptions() required>
            <option value="" selected>Provinsi</option>
            {% for provinsi in provinsis %}
                <option value="{{ provinsi.0 }}">{{ provinsi.0 }}</option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">
            Data Provinsi belum terisi
        </div>
    </div>
    
    <div class="form-group">
        <label for="id_lokasi">Id Lokasi:</label>
        <select class="form-control" name="id_lokasi" id="id_lokasi" onchange=changelokasiaddress() required>
            <option value="" selected>Id Lokasi</option>
        </select>
        <div class="invalid-feedback">
            Data Id Lokasi belum terisi
        </div>
    </div>

    <div class="form-group">
        <label for="lokasiaddress">Lokasi:</label>
        <input class="form-control" type="text" id="lokasiaddress" disabled>
    </div>

    <input class="btn btn-primary" type="submit" value="Simpan">
    <a class="btn btn-danger" href="{% url 'warehouse:index' %}">batal</a>
</form>

<script>

var lokasiaddrs = {};
var lokasiprov = {};
{% for lokasi in lokasis %}
lokasiaddrs["{{ lokasi.0 }}"] = "{{ lokasi.2 }}";
lokasiprov["{{lokasi.0}}"] = "{{ lokasi.1 }}";
{% endfor %}

function changelokasiaddress() {
    formtext = document.getElementById("lokasiaddress");
    formtext.value = "";
    formselect = document.getElementById("id_lokasi");
    formval = formselect.value;
    formtext.value = lokasiaddrs[formval];
}

function changelokasioptions() {
    formoption = document.getElementById("id_lokasi");
    formoption.innerHTML = "";
    formselect = document.getElementById("provinsi");
    formval = formselect.value;
    htmlstr = "<option value='' selected>Id Lokasi</option>";
    for (let k in lokasiprov) {
        if (lokasiprov[k] === formval) {
            htmlstr += "<option value='" + k + "'>" + k + "</option>"
        }
    }
    formoption.innerHTML = htmlstr;
}

(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

</script>

{% endblock body %}