{% extends 'pengguna/base.html' %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == "success" %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

<h2>Warehouse Satgas</h2>

{% if request.session.role == 'admin' %}

<a class="btn btn-primary mb-2" href="{% url 'warehouse:addwarehousesatgas' %}">Tambah Warehouse Satgas</a>
<table class="table table-bordered table-hover">
    <tr>
        <th scope="col">No</th>
        <th scope="col">Provinsi</th>
        <th scope="col">Lokasi</th>
        <th scope="col">Action</th>
    </tr>
    {% for warehouse in warehouses %}

    <tr>
        <th scope="row">{{ warehouse.0 }}</td>
        <td>{{ warehouse.2 }}</td>
        <td>{{ warehouse.3 }}</td>
        <td>
            <a class="btn btn-primary" href="{% url 'warehouse:updatewarehousesatgas'%}?id_lokasi={{warehouse.1}}">Update</a>
            <form method="POST" action="{% url 'warehouse:deletewarehousesatgas' %}">
                {% csrf_token %}
                <input name="id_lokasi" value="{{warehouse.1}}" hidden>
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
        </td>
    </tr>

    {% endfor %}
</table>

{% elif request.session.role == 'supplier' %}

<table class="table table-bordered table-hover">
    <tr>
        <th scope="col">No</th>
        <th scope="col">Provinsi</th>
        <th scope="col">Lokasi</th>
    </tr>
    {% for warehouse in warehouses %}

    <tr>
        <th scope="row">{{ warehouse.0 }}</td>
        <td>{{ warehouse.2 }}</td>
        <td>{{ warehouse.3 }}</td>
    </tr>

    {% endfor %}
</table>

{% else %}

<p>Role yang bisa mengakses hanya admin dan supplier</p>

{% endif %}

{% endblock body %}