{% extends 'pengguna/base.html' %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == "success" %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

<h2>Form Update Warehouse Satgas</h2>

<form method="POST" action="{% url 'warehouse:updatewarehousesatgas' %}">
    {% csrf_token %}

    <input type="text" name="id_lokasi_before" value="{{current.1}}" hidden>
    <input type="text" name="provinsi" value="{{current.0}}" hidden>

    <div class="form-group">
        <label for="provinsi">Provinsi</label>
        <select class="form-control" name="provinsi" id="provinsi" disabled>
            <option value={{ current.0 }} selected>{{ current.0 }}</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="id_lokasi">Id Lokasi:</label>
        <select class="form-control" name="id_lokasi" id="id_lokasi" onchange=changelokasiaddress() required>
            <option value="{{ current.1 }}" selected>{{ current.1 }}</option>
            {% for currentloc in currentlocs %}
                <option value="{{ currentloc.0 }}">{{ currentloc.0 }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="lokasiaddress">Lokasi:</label>
        <input class="form-control" type="text" id="lokasiaddress" disabled>
    </div>

    <input class="btn btn-primary" type="submit" value="Simpan">
    <a class="btn btn-danger" href="{% url 'warehouse:index' %}">batal</a>
</form>

<script>

var lokasiaddrs = {};
var lokasiprov = {};
lokasiaddrs["{{ current.1 }}"] = "{{ current.2 }}";
lokasiprov["{{ current.1 }}"] = "{{ current.0 }}";
{% for currentloc in currentlocs %}
lokasiaddrs["{{ currentloc.0 }}"] = "{{ currentloc.2 }}";
lokasiprov["{{ currentloc.0 }}"] = "{{ currentloc.1 }}";
{% endfor %}

function changelokasiaddress() {
    formtext = document.getElementById("lokasiaddress");
    formtext.value = "";
    formselect = document.getElementById("id_lokasi");
    formval = formselect.value;
    formtext.value = lokasiaddrs[formval];
}

document.addEventListener("DOMContentLoaded", function(event) { 
    changelokasiaddress();
});

</script>

{% endblock body %}